@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
  background: #e8d9bf;



}

/* ヘッダー */
.header {
  position: relative;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 2.51%;
  padding-right: 6.53%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.logo {
  width: 226.7px;
}

.pc-nav ul {
  display: flex;
}

.pc-nav ul li {
  margin-right: 54px;
  text-align: center;
  width: 105px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

}

.pc-nav ul li:last-child {
  margin-right: 0;
}

.slider_pc {
  width: 100%;
}


/* HAVE a happy~の文 */
.introduction {
  margin-top: 103px;
  margin-bottom: 94px;
}

.introduction .memo {
  font-size: 30px;

  text-align: center;

}

.introduction .title {
  font-size: 82px;
  line-height: 1.17;
  margin-top: 59.9px;
  text-align: center;
}

.introduction .concept {
  font-size: 23px;
  margin-top: 44.2px;
  text-align: center;
  line-height: 1.65;

}

.br-sp {
  display: none;
}


/* ABOUTのセクション */

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  max-width: 1000px;
  margin: 100px auto 0;



}

.coffeecup {


  border-bottom-right-radius: 50px;
}

.text_container .logo {
  margin-top: 63px;

}

.coffeecup {
  display: block;
}

.about_us_logo_sp {
  display: none;
}

.text_container .about_us {
  margin-top: 55px;
  font-size: 44px;

}

.text_container {
  width: 41%;
}

.text_container .message {
  margin-top: 33px;
  font-size: 16px;
  line-height: 1.6;
}

/* メニューのセクション */

.menu {
  max-width: 1000px;
  margin: 103px auto 0;


}

.menu .menu_logo {
  margin: 0 auto;
  margin-bottom: 51px;
  width: 151.3px;
}


.menu_container {

  display: flex;
  justify-content: space-between;

  margin-left: 10px;
  margin-right: 10px;

}



.menu_container .picture {

  width: 30%;
}

.images_menu {
  border-top-right-radius: 50px;
}

.menu .menu_container .menu_type {
  font-size: 38px;
  margin-top: -20px;
  margin-left: 10px;
}

.menu_description {
  font-size: 17px;
  line-height: 1.47;
  margin-top: 10px;
}


/* ギャラリーのセクション */
.gallery {

  margin-top: 40px;
}

.gellery_photo {

  display: flex;
}

.gallery_logo {

  margin: 0 auto;
  width: 213.8px;
  margin-bottom: 20px;
}



.gallery_photo img {
  width: 20%;


}

/* イベント */
.event {
  max-width: 1000px;
  margin: 0 auto;
}

.event_logo {
  margin: 0 auto;
  margin-top: 64px;
  width: 174px;
}

.event_schedule {
  margin-top: 64px;
  text-align: left;
  border: solid;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  margin-bottom: 80px;
  background-color: #fff;

}

.event .event_schedule ul li {
  list-style: none;
  font-size: 23px;
  padding: 16px;
}


.event .event_schedule .schedule_memo {
  border-bottom: solid;
}

.schedule {

  padding-right: 20px;

}




/* アクセス */


.access_logo {
  margin: 0 auto;
  margin-top: 72px;
  width: 214px;
}

.map iframe {
  margin-top: 40px;
  width: 100%;
}

iframe {
  vertical-align: bottom;
}

/* フッター */
footer {

  background-color: #fff;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
}


.footer_logo {
  width: 227px;

}

address p {
  line-height: 1.95;
  font-size: 20px;
  font-style: normal;
  padding-left: 60px;
}

.footer_text {
  margin-top: 72px;
  font-size: 16px;
  text-align: center;

}

/* ボタン */
.to_top {

  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 125px;

}

/* ハンバーガーメニュー */
.hamburger,
.sp-nav {
  display: none;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}




/* スマホ版 */
@media screen and (max-width: 1100px) {

  .pc-nav {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 33px;
    cursor: pointer;
    z-index: 9999;
  }

  .hamburger span {
    display: block;
    width: 33px;
    height: 2px;
    background: #fff;
    position: relative;
    top: 10px;
  }

  .hamburger span::before,
  .hamburger span::after {
    content: '';
    display: block;
    width: 33px;
    height: 2px;
    background: #fff;
    position: absolute;
  }

  .hamburger span::before {
    bottom: 10px
  }

  .hamburger span::after {
    top: 10px
  }

  .open span {
    background: transparent;
  }

  .open span::before {
    bottom: 0px;
    transform: rotate(45deg);
  }

  .open span::after {
    top: 0px;
    transform: rotate(135deg);
  }

  .sp-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);

  }

  .sp-nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sp-nav ul li a {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: block;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    ;
    font-weight: bold;
    font-size: 18px;
  }

  .introduction .title {
    font-size: 10.13vw;
  }

  .text_container .about_us {
    font-size: 36px;
  }

}

.header {
  width: auto;
}


@media screen and (max-width:767px) {
  .slider_pc {
    display: none;
  }

  .br-sp {
    display: block;
  }

  .about {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .about_us_logo_sp {
    display: block;
    width: 27%;
    padding-bottom: 10px;
  }

  .text_container {
    width: auto;
  }

  .text_container .logo {
    display: none;
  }

  .text_container .about_us_logo {
    display: block;
    text-align: center;
  }

  .menu_container {
    flex-direction: column;
    margin-left: 37px;
    margin-right: 37px;
  }

  .menu_container .picture {

    width: 100%;

  }

  .menu_description {
    font-size: 17px;
    padding-bottom: 44px;

  }

  .gallery_photo_sp {
    width: 100%;
  }

  .event_schedule {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer_wrap {
    flex-direction: column;
    align-items: flex-start;

    margin-left: 2%;
    padding-top: 40px;
  }




  address p {
    padding-top: 27px;
    padding-left: 0;
  }

  .to_top {

    position: fixed;
    right: 20px;
    bottom: 205px;
    width: 100px;

  }


}